.cardContainer {
    border-radius: 20px;
    background-color: #B6D0E2;
    padding: 50px;
    margin: 10px;
    box-shadow: 5px 5px #798b97;
}

.priceContainerUp {
    color: rgb(21, 185, 21);
    font-weight: bold;
}

.priceContainerDown {
    color: #fa4d4d;
    font-weight: bold;
}

.priceContainerEqual {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font: #ddf567;
}

.timeContainer {
    color:rgb(52, 26, 202)
}
