.cardContainer {
    background-color: bisque;
}

.priceContainerUp {
    font:#11d469;
}

.priceContainerDown {
    font:#b02727;
}

.priceContainerEqual {
    font:#1f86db;
}

.timeContainer {
    background-color: #ffaab5;

}
